{# Usage: {% include 'components/_confirm_modal.html.twig' with {id: 'myModal', title: '...', body: '...', confirm_url: '...'} %} #}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ t('common.close') }}"></button>
            </div>
            <div class="modal-body">{{ body }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ t('common.cancel') }}</button>
                <form method="POST" action="{{ confirm_url }}" class="m-0">
                    {{ csrf_field()|raw }}
                    <button type="submit" class="btn btn-danger">{{ confirm_label|default(t('common.confirm')) }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
